[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow-similarity = {editable = true, path = "."}
tensorflow-datasets = "==4.5.1"

[dev-packages]

[requires]
python_version = "3.9"
