name: Publish

on:
  push:
    branches: [ master ]

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        #TF don't work with 3.9 
        python-version: '3.8.x'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install setuptools wheel twine
        pip install types-tabulate
        pip install tensorflow
        
    - name: Install package
      run: |
        pip install ".[dev]"
            
    - name: Static analysis
      run: |
        mypy  tensorflow_similarity/ --raise-exceptions
    
    - name: Unit testing
      run: |
        pytest tests/
      
    - name: Build and publish
      run: |
        python setup.py sdist bdist_wheel
        twine upload -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPY_TOKEN }} dist/* --verbose
        # twine upload dist/*
