name: Testing

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:  # Allow manual triggers

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: '3.7'
            tf-version: '2.8'
          - python-version: '3.7'
            tf-version: '2.15.0.post1'
          - python-version: '3.10'
            tf-version: '2.8'
          - python-version: '3.10'
            tf-version: '2.15.0.post1'

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coveralls

    - name: Install TF package
      run: |
        pip install tensorflow[and-cuda]==${{ matrix.tf-version }}
        # Fix proto dep issue in protobuf 4
        pip install protobuf==3.20.*

    - name: Install dev packages
      run: |
        pip install ".[dev,visualization,redis,faiss,nmslib]"
        
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    
    - name: Static analysis
      run: |
        mypy  tensorflow_similarity/ --raise-exceptions
    
    - name: Test with pytest
      run: |
        coverage run -m pytest tests/

    - name: Upload coverage to Coveralls
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
        COVERALLS_PARALLEL: true

    - name: Check black formatting 
      uses: psf/black@stable
      with:
        options: "--check --verbose"
        version: "22.6.0"
    - name: Check isort 
      uses: isort/isort-action@master

  coveralls:

    name: Indicate completion to coveralls.io
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        python -m pip install --upgrade pip
        pip install coveralls

    - name: Finished
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        coveralls --service=github --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
